@font-face
{
    font-family: 'Ballpark';
    src: url('fonts/ballpark.eot');
    src: url('fonts/ballpark.eot?#iefix') format('embedded-opentype'),
         url('fonts/ballpark.woff') format('woff'),
         url('fonts/ballpark.ttf') format('truetype'),
         url('fonts/ballpark.svg#Ballpark') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('fonts/dayrom.eot');
    src: url('fonts/dayrom.eot?#iefix') format('embedded-opentype'),
         url('fonts/dayrom.woff') format('woff'),
         url('fonts/dayrom.ttf') format('truetype'),
         url('fonts/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root {
    --ffball: 'Ballpark';
    --ffday: 'Dayrom';
    --fftreb: 'Trebuchet MS';
}

body
{
    background: url('images/yellow_background.png');
    font-family: var(--fftreb), Arial, sans-serif;
    color: #181818;
}

#main_wrapper
{
    width: 90%;
    margin: auto;
}

section h1, footer h1, nav a
{
    font-family: var(--ffday), serif;
    font-weight: normal;
    text-transform: uppercase;
}

header
{
    background: url('images/line.png') repeat-x bottom;
}

#main_title
{
    display: inline-block;
}

header h1
{
    font-family: var(--ffball), serif;
    font-size: 2.5em;
    font-weight: normal;
}

#logo, header h1
{
    display: inline-block;
    margin-bottom: 0px;
}

header h2
{
    font-family: var(--ffday), serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

nav
{
    display: initial;
    width: 740px;
    text-align: right;
}

nav .main
{
    list-style-type: none;
}

nav .main li
{
    display: inline-block;
    padding: 3px;
    margin-right: 10px;
}

nav .main a
{
  text-decoration: none;
  font-size: 1.3em;
  color: #181818;
}

nav .main li a:hover
{
    color: #8B008B;
    border-top: 3px solid #8B008B;
}

nav .openBurger
{
  font-size: 1.3em;
  margin: 10px;
  display: none;
  cursor: pointer;
}

nav .main .closeBurger, nav img
{
  font-size: 1.3em;
  display: none;
  cursor: pointer
}

@media screen and (max-width:561px)
{
    nav .main
    {
      height: 105vh;
      width: 35vh;
      position: fixed;
      top: 0;
      right: 0;
      left: 30%;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: black;
      transition: top 2s ease;
      display: none;
    }

    nav .main .closeBurger
    {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    nav .openBurger
    {
      display: block;
    }

    nav .main a
    {
        padding: 3px;
        color: white;

    }

    nav .main li a:hover
    {
      border-top: 3px solid #8B008B;
      font-size: 1.6 em;
    }

    nav img
    {
      display: inline-block;
      padding: 12px;
    }

}

#banner_image
{
    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background: url('images/patarbeach.png') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
    max-width: 100%;
}

#banner_description
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgb(24,24,24); /* Old browsers will read this */
    background-color: rgba(24,24,24,0.8); /* New browsers will read this */
    color: white;
    font-size: 0.9em;
}

.red_button
{
    display: inline-block;
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: url('images/red_background.png') repeat-x;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 0.9em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}

article, aside
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}

article
{
    width: 62%;
    margin-right: 2.4%;
}

.article_image
{
  border: 1px solid black;
}

.otherpage
{
  width: 95%;
  float: center;
}

.text
{
  margin-left:auto; /*200px;*/
}

.text2
{
  margin-left:auto; /*230px;*/
}

.text3
{
  margin-left:auto; /*350px;*/
}

.category_icon
{
    vertical-align: middle;
    margin-right: 8px;
}

article p
{
    font-size: 0.8em;
}

article ul li
{
  font-size: 0.8em;
  margin-left: 10px;
}

aside
{
    position: relative;
    width: 31%;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}

aside img
{
    margin-right: 2%;
    margin-left: 2%;
    align-items: center;
}

@media screen and (max-width: 630px)
{
  article, aside
  {
    float: center;
    width: auto;
  }

  article
  {
    float: center;
    width: auto;
  }

  #arrow
  {
    display: none;
  }

  .otherpage
  {
      float: center;
      width: auto;
  }

  #tweet, #my_pictures, #my_friends
  {
    float:center;
    width: auto;
  }
}

#arrow
{
    position: absolute;
    top: 100px;
    left: -14px;
}

#my_pic
{
    text-align: center;
}

#my_pic img
{
  border: 1px solid black;
  max-width: 60%;
}

footer
{
    /*background:  url('images/top.png') no-repeat top;*/
    padding-top: 25px;
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}

#tweet, #my_pictures, #my_friends
{
    display: inline-block;
    vertical-align: top;
    margin: 0.5%;
}

#tweet
{
    width: 24%;
}

#my_pictures
{
    width: 35%;
}

#my_friends
{
    width: 30%;
}

#my_pictures img
{
    border: 1px solid black;
    margin-right: 2px;
}

#my_friends ul
{
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    width: 48%;
    list-style-image: url('images/external_link.png');
    padding-left: 2px;
}

#my_friends a
{
    text-decoration: none;
    color: #8B008B;
}
